body, .login-wrapper {
min-height: 100vh; 
background-image: url('../imgs/conta.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.login-wrapper {
position: relative;
display: flex;
align-items: center;
justify-content: center;
padding: 2rem;
}

.login-wrapper::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, 0.3);
backdrop-filter: blur(4px) grayscale(80%);
z-index: 1;
}

.login-card {
position: relative;
z-index: 2;
border-radius: 0.5rem;
border: none;
max-width: 900px; 
width: 100%;
}

.login-card .card-header {
border-bottom: 0;
}


.border-end-md {
border-right: 0;
}
@media (min-width: 768px) {
.border-end-md {
    border-right: 1px solid rgb(222, 226, 230)!important; 
}
}